
.hero-section {
  background: url("https://cdn.wallpapersafari.com/85/12/0pdtzP.jpg") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .hero-section-text {
  color: #ffcc00;
  text-shadow: 5px 5px 6px #0a0a0a;
}
